apt-clone==0.2.1
apt-xapian-index==0.47
apturl==0.5.2
astroid==1.4.4
blinker==1.3
Brlapi==0.6.4
bz2file==0.98
CacheControl==0.11.5
chardet==2.3.0
command-not-found==0.3
contextlib2==0.5.1
cryptography==1.2.3
cycler==0.10.0
decorator==4.0.11
defer==1.0.6
dirspec==13.10
Django==1.10.6
future==0.15.2
httplib2==0.9.1
idna==2.0
indicator-cpufreq==0.2.2
ipython==2.4.1
ipython-genutils==0.2.0
Jinja2==2.8
joblib==0.9.4
jsonschema==2.6.0
jupyter-core==4.3.0
lazy-object-proxy==1.2.1
lockfile==0.12.2
logilab-common==1.1.0
louis==2.6.4
lxml==3.5.0
MarkupSafe==0.23
matplotlib==2.0.0
mpld3===0.3git
mplexporter==0.0.1
mpmath==0.19
mppy==0.3
natsort==4.0.3
nbformat==4.3.0
nose==1.3.7
numpy==1.11.0
oauthlib==1.0.3
oneconf==0.3.9
pandas==0.17.1
pexpect==4.0.1
Pillow==3.1.2
piston-mini-client==0.7.5
pkginfo==1.2.1
plotly==2.0.6
ptyprocess==0.5
pyasn1==0.1.9
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0
pygobject==3.20.0
PyICU==1.9.2
PyJWT==1.3.0
pylint==1.5.2
pyparsing==2.2.0
python-apt==1.1.0b1
python-dateutil==2.6.0
python-debian==0.1.27
pytz==2017.2
pyxdg==0.25
reportlab==3.3.0
requests==2.13.0
scikit-bio==0.4.1
scikit-image==0.10.1
scikit-learn==0.18.1
scipy==0.17.0
screen-resolution-extra==0.0.0
sessioninstaller==0.0.0
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
sklearn-pandas==1.1.0
sympy==1.0
system-service==0.3
thin-client-config-agent==0.8
traitlets==4.3.2
twine==1.5.0
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
virtkey==0.63.0
virtualenv==15.1.0
wrapt==1.8.0
xkit==0.0.0
